@font-face {
  font-family: "DodoRounded";
  src: url("/assets/fonts/DodoRounded-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DodoRounded";
  src: url("/assets/fonts/DodoRounded-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
