:root {
    --primary: #f77718;
    --secondary: #ffe5d0;

    --fontBlack: black;
    --fontWhite: white;
    --fontGray: #9f9f9f;
    --fontBlue: #3d4150;

    --bgLight: white;
    --bgDark: #181818;
    --bgGray: #efefef;
    --bgGrayLight: #f7f7f7;
    --bgGrayDark: #3e3e3e;
    --modalFallback: rgba(57, 57, 57, 0.53);
}
